html, body{
	margin: 0;
	padding: 0;
}
/*Global Styling*/

.container{
    width: 1440px;
    margin: 0px auto;
    font-family: 'Work Sans';
    font-style: normal;
}
.primary-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin: 0px;
}
.primary-para{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 0px;

}
.primary-button{
    text-align: center;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 25px;
    border: 0px;
}
/*Navbar Styling*/
.navbar{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
}
.navbar_wrapper{
    
    display: flex;
    justify-content: space-between;
}
ul{
    text-decoration: none;
    display: flex;
}
ul li{
    list-style: none;
    padding-left: 50px;
}
ul li a{
    text-decoration: none;
}
.navbar, .hero{
    background: rgba(255, 144, 14, 0.1);
}
/*Hero Styling*/
.hero{
    background-color: hero;
}
.hero_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.call-to-action{
    padding: 100px 290px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_wrapper .primary-title{
    font-size: 64px;
    text-align: center;
    margin: 0px;

}
.hero_wrapper .primary-para{
    text-align: center;

}
.hero_wrapper img{
    height: 700px;
    border-radius: 8px;
    margin: 50px 0px;
}
/*quicklist styling*/

.quicklist_wrapper{
    display: flex;
    padding: 85px 60px;
    align-items: center;
}

.quicklist_wrapper .left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
    row-gap: 24px;

}
.quicklist_wrapper .call-to-action{
    padding: 50px;
    align-items: flex-start;
}
.quicklist_wrapper .left img{
    height: 342px;
    width: 342px;
}

.span_title1{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
/*Features Styling*/
.features{
    padding-top: 45px;
}
.features_wrapper{
    display: flex;
    column-gap: 125px;
    align-content: space-between;
}
.single_feature{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.feature{
    padding:  30px 30px 30px 40px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.features_wrapper .left{
    
}
.features_wrapper .left .primary-title{
    padding: 0px 140px 0px 20px;
    border-left: 5px solid #FF900E;

}

.feature h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin: 0px;
}

.feature p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 0px;
}
.features_wrapper .right{
    position: relative;
}

.features_wrapper .right img{
    width: 708px;
    height: 982px;
    border-radius: 8px;
}

.experience{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 45px 42px;
    border-radius: 8px;
    display: inline-block;
    margin: -265px 0px 0px -90px;
}
.experience h3 ,.experience p{
    margin: 0px;
    color: #FFFFFF;
}
.experience p{
    padding-top: 10px;
}
/*Facts Styling*/

.facts{
    margin-top: 130px;
    margin-bottom: 180px;
}
.facts h3{
    margin-bottom: 24px;
}
.fact_grid{
    display: grid;
    grid-template-columns: repeat(4, 242px);
    text-align: center;
    justify-content: space-between;
    padding: 0px 50px;
    margin-top: 100px;
}
.single_fact{
    padding: 45px 0px 35px 0px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.single_fact img{
    width: 45.22px;
    height: 45.22px;
    margin: 0px;
}

.single_fact h3{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin: 10px 0px;
}

.single_fact p{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin: 0px;

    color: #727272;
    
}

/**/

.sponsers_wrapper .call-to-action{
    padding: 0px 449px 50px;
    text-align: center;
}
.sponsers_wrapper .call-to-action p{
    
}
.sponser_grid{
    display: grid;
    grid-template-columns: repeat(5, 165px);
    justify-content: space-between;
    justify-items: center;
}

/**/

.footer .container{
    margin: 130px auto 254px auto;
    padding: 38px 0px;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
}
